<div class="container-fluid">
    <div class="div-height-master col-xs-12">
        <div class="col-sm-8 col-xs-12 div-height-slave">
            <h1 class="text-center">Account: <span>{{user.username}}</span></h1>
            <form name="userDetailsForm" class="css-form">
                <fieldset class="form-group">
                    <label for="user-name">Name</label>
                    <input required type="text" class="form-control" ng-model="user.name" id="user-name">
                </fieldset>
                <fieldset class="form-group">
                    <label for="user-email">Email</label>
                    <input required tutor-email type="email" class="form-control" ng-model="user.email" id="user-email">
                </fieldset>
                <fieldset class="form-group">
                    <label for="user-mobile">Mobile</label>
                    <input required mobile type="text" class="form-control" ng-model="user.mobile" id="user-mobile">
                </fieldset>
                <fieldset ng-if="accountType==='TUTOR'" class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="user-studentId">Student Id</label>
                            <input required student-id type="text" class="form-control" ng-model="user.studentId" id="user-studentId" placeholder="Enter Student Id">
                        </div>
                        <div class="col-xs-6">
                            <label for="user-staffId">Staff Id</label>
                            <input type="text" class="form-control" ng-model="user.staffId" id="user-staffId" placeholder="Enter Staff Id">
                        </div>
                    </div>
                </fieldset>
                <fieldset ng-if="accountType!=='TUTOR'" class="form-group">
                    <label for="user-staffId">Staff Id</label>
                    <input type="text" class="form-control" ng-model="user.staffId" id="user-staffId" placeholder="No Staff Id">
                </fieldset>
                <br>
                <br>
                <div>Change password (Optional)
                    <fieldset ng-if="accountType!=='ADMIN'" class="form-group">
                        <label for="user-old-password">Old Password</label>
                        <input ng-minlength="7" type="password" class="form-control" ng-model="user.oldPassword" id="user-old-password" placeholder="Enter Old Password">
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="user-password">Password</label>
                                <input ng-minlength="7" type="password" class="form-control" ng-model="user.password" id="user-password" placeholder="Enter Password">
                            </div>
                            <div class="col-xs-6">
                                <label for="user-password-repeat">Repeat Password</label>
                                <input ng-minlength="7" type="password" class="form-control" ng-model="user.repeatPassword" id="user-password-repeat" placeholder="Repeat Password">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <div class="form-warnings" ng-messages="userDetailsForm.$error" ng-show="userDetailsForm.$submitted">
                        <span ng-message="tutorEmail">Please enter a valid non-curtin email address.</span>
                        <span ng-message="mobile">Please enter a valid Australian mobile number.</span>
                        <span ng-message="minlength">Usernames and passwords must be at least 7 characters long.</span>
                        <span ng-message="required">Please fill in all the required fields.</span>
                    </div>
                </div>
                <p class="text-danger" ng-show="userDetailsState.hasError">{{userDetailsState.error}}</p>
                <fieldset>
                    <button type=submit ng-click="processForm(userDetailsForm)" class="btn pull-right btn-danger">Update</button>
                </fieldset>
            </form>
        </div>
        <div class="col-sm-4 hidden-xs div-height-slave">
            <div ng-if="accountType === 'ADMIN'" class="account-page-navigation">
                <h4>Admin Controls</h4>
                <br>
                <button class="btn btn-primary" page-link="/unit/priority/admin">Unit Priorities</button>
                <br>
                <br>
                <button class="btn btn-primary" page-link="/unit/timetable/admin">Unit Timetables</button>
            </div>
            <div ng-if="accountType === 'COORDINATOR'" class="account-page-navigation">
                <h4>Unit Coordinator Controls</h4>
                <br>
                <button class="btn btn-primary" page-link="/unit/priority">Unit Priorities</button>
                <br>
                <br>
                <button class="btn btn-primary" page-link="/unit/timetable">Unit Timetables</button>
            </div>
            <div ng-if="accountType === 'TUTOR'" class="account-page-navigation">
                <h4>Tutor Controls</h4>
                <br>
                <button class="btn btn-primary" page-link="/tutor/application">Tutor Application</button>
                <br>
                <br>
                <button class="btn btn-primary" page-link="/tutor/timetable">Tutor Timetable</button>
            </div>
        </div>
    </div>
</div>
