<div class=row>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <br>
            <label>Applications Start</label>
            <input type="text" class="form-control" datetime-picker="dd MMM" enable-time="false" ng-model="systemState.applicationStart" is-open="systemState.isApplicationStartOpen" ng-click="systemState.isApplicationStartOpen = !systemState.isApplicationStartOpen" ng-change="updateApplicationStart()" />
        </div>
        <div class="col-xs-6">
            <br>
            <label>Applications End</label>
            <input type="text" class="form-control" datetime-picker="dd MMM" enable-time="false" ng-model="systemState.applicationEnd" is-open="systemState.isApplicationEndOpen" ng-click="systemState.isApplicationEndOpen = !systemState.isApplicationEndOpen" ng-change="updateApplicationEnd()" />
        </div>
        <div class="col-xs-6">
            <br>
            <label>Semester Starts</label>
            <input type="text" class="form-control" datetime-picker="dd MMM" enable-time="false" ng-model="systemState.semesterStart" is-open="systemState.isSemesterStartOpen" ng-click="systemState.isSemesterStartOpen = !systemState.isSemesterStartOpen" ng-change="updateSemesterStart()" />
        </div>
        <div class="col-xs-6">
            <br>
            <label>Semester Ends</label>
            <input type="text" class="form-control" datetime-picker="dd MMM" enable-time="false" ng-model="systemState.semesterEnd" is-open="systemState.isSemesterEndOpen" ng-click="systemState.isSemesterEndOpen = !systemState.isSemesterEndOpen" ng-change="updateSemesterEnd()" />
        </div>
        <div class="col-xs-6">
            <br>
            <label>Lockout Changes</label>
            <input type="text" class="form-control" datetime-picker="dd MMM" enable-time="false" ng-model="systemState.lockout" is-open="systemState.isLockoutOpen" ng-click="systemState.isLockoutOpen = !systemState.isLockoutOpen" ng-change="updateLockout()" />
        </div>
        <div class="col-xs-6">
            <br>
            <label>Maximum Tutor Hours</label>
            <input type=number class="form-control" ng-model="systemState.tutorMaxHours" ng-change="updateTutorMaxHours()" min=1 max=40 ng-model-options="{ debounce: 500}" />
        </div>
    </div>
    <div class="col-xs-12">
        <br>
        <h4 class="col-xs-12 text-center">Cleanup Controls</h4>
        <div class="col-xs-3">
            <button class="btn btn-danger col-xs-12" ng-click="deleteAllUnits()">Delete ALL Units</button>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-danger col-xs-12" ng-click="deleteAllTutorials()">Delete ALL Tutorials</button>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-danger col-xs-12" ng-click="deleteAllTutorApplications()">Clear ALL Tutor Applications</button>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-danger col-xs-12" ng-click="deleteAllTutorAssignments()">Clear ALL Tutorial Assignments</button>
        </div>
    </div>
    <div class="col-xs-12">
        <br>
        <h4 class="col-xs-12 text-center">Action Controls</h4>
        <div class="col-xs-4">
            <button class="btn btn-info col-xs-12" ng-click="downloadUnitCsv()">Export Unit CSV</button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-info col-xs-12" ng-click="downloadTutorialCsv()">Export Tutorial CSV</button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-info col-xs-12" ng-click="assignTutors()">Assign Tutors Automatically</button>
        </div>
    </div>
    <div class="col-xs-12">
        <br>
        <div class="col-xs-6">
            <h4 class="text-center" ng-class="{ 'text-danger': systemState.tutorsLocked}">Tutor accounts are {{systemState.tutorsLocked ? 'Locked' : 'Unlocked'}}</h4>
            <button class="btn btn-primary col-xs-12" ng-click="toggleTutorAccounts()">{{!systemState.tutorsLocked ? 'Lock' : 'Unlock'}}</button>
        </div>
        <div class="col-xs-6">
            <h4 class="text-center" ng-class="{ 'text-danger': systemState.coordinatorsLocked}">UnitCoordinator accounts are {{systemState.coordinatorsLocked ? 'Locked' : 'Unlocked'}}</h4>
            <button class="btn btn-primary col-xs-12" ng-click="toggleCoordinatorAccounts()">{{!systemState.coordinatorsLocked ? 'Lock' : 'Unlock'}}</button>
        </div>
    </div>
</div>
