<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="register-header text-center">
            <h2>Register Tutor Account</h2>
        </div>
        <form name="registerForm" class="css-form">
            <fieldset class="form-group">
                <label for="register-name">Name</label>
                <input required type="text" class="form-control" ng-model="register.name" id="register-name" placeholder="Enter Name">
            </fieldset>
            <fieldset class="form-group">
                <label for="register-email">Email</label>
                <input required tutor-email type="email" class="form-control" ng-model="register.email" id="register-email" placeholder="Enter (Non-Curtin) Email">
            </fieldset>
            <fieldset class="form-group">
                <label for="register-mobile">Mobile</label>
                <input required mobile type="text" class="form-control" ng-model="register.mobile" id="register-mobile" placeholder="Enter Mobile Number">
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="register-studentId">Student Id</label>
                        <input required student-id type="text" class="form-control" ng-model="register.studentId" id="register-studentId" placeholder="Enter Student Id">
                    </div>
                    <div class="col-md-6">
                        <label for="register-staffId">Staff Id (Optional)</label>
                        <input type="text" class="form-control" ng-model="register.staffId" id="register-staffId" placeholder="Enter Staff Id">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="register-username">Username</label>
                <input required ng-minlength="7" type="text" class="form-control" ng-model="register.username" id="register-username" placeholder="Enter Username">
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="register-password">Password</label>
                        <input required ng-minlength="7" type="password" class="form-control" ng-model="register.password" id="register-password" placeholder="Enter Password">
                    </div>
                    <div class="col-md-6">
                        <label for="register-password-repeat">Repeat Password</label>
                        <input required ng-minlength="7" type="password" class="form-control" ng-model="register.repeatPassword" id="register-password-repeat" placeholder="Repeat Password">
                    </div>
                </div>
            </fieldset>
            <div>
                <div class="form-warnings" ng-messages="registerForm.$error" ng-show="registerForm.$submitted">
                    <span ng-message="tutorEmail">Please enter a valid non-curtin email address.</span>
                    <span ng-message="mobile">Please enter a valid Australian mobile number.</span>
                    <span ng-message="studentId">Please enter a valid Curtin student Id.</span>
                    <span ng-message="minlength">Usernames and passwords must be at least 7 characters long.</span>
                    <span ng-message="required">Please fill in all the required fields.</span>
                </div>
            </div>
            <p class="text-danger" ng-show="registerState.hasError">{{registerState.error}}</p>
            <fieldset>
                <button type=submit ng-click="processForm(register)" class="btn pull-right btn-danger">Register</button>
                <button class="btn btn-primary" page-link="/login">Back to Login</button>
            </fieldset>
        </form>
    </div>
</div>
