<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Tutor Timetable</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" ng-controller="NavbarController">
                <li ng-repeat="nav in navBarItems" ng-class="{active: currentStateName === nav.sref}" ng-if="nav.viewable()">
                    <a class="visible-xs" data-toggle="collapse" data-target="#navbar" ui-sref="{{nav.sref}}">{{nav.title}}</a>
                    <a class="hidden-xs" ui-sref="{{nav.sref}}">{{nav.title}}</a>
                </li>
                <li ng-if="navBarGroup1.viewable()" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Data Tables<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="nav in navBarGroup1" ng-class="{active: currentStateName === nav.sref}" ng-if="nav.viewable()">
                            <a class="visible-xs" data-toggle="collapse" data-target="#navbar" ui-sref="{{nav.sref}}">{{nav.title}}</a>
                            <a class="hidden-xs" ui-sref="{{nav.sref}}">{{nav.title}}</a>
                        </li>
                    </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li ng-repeat="nav in navBarTasks" ng-click="nav.clicked()" ng-if="nav.viewable()">
                    <a class="visible-xs" data-toggle="collapse" data-target="#navbar" style="{{nav.style}}">{{nav.title}}</a>
                    <a class="hidden-xs" style="{{nav.style}}">{{nav.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="main-view">
        <div ui-view></div>
    </div>
</div>
<div>
    <div class="footer main-view">
        <p>&copy 2016 Cameron Newton - Curtin University</p>
    </div>
</div>
