<div class="container-fluid">
    <br>
    <div class="col-sm-8 col-sm-offset-2">
        <form name="applicationForm" class="css-form">
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <label for="application-course">Course of Study</label>
                        <input required type="text" class="form-control" ng-model="application.course" id="application-course" placeholder="Enter Course of Study">
                    </div>
                    <div class="col-md-4">
                        <label for="application-year">Year of Course</label>
                        <select required class="form-control" id="application-year" ng-model="application.year">
                            <option value="0">-Select Year-</option>
                            <option value="1">First year</option>
                            <option value="2">Second year</option>
                            <option value="3">Third year</option>
                            <option value="4">Fourth year</option>
                            <option value="5">Fifth year</option>
                            <option value="6">Sixth year</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="application-failedUnits" class="control-label">Units you've failed</label>
                <div class="input-group">
                    <input required type="text" class="form-control" id="application-failedUnits" ng-model="application.failedUnit" ng-keypress="keyFail($event)">
                    <span class="input-group-btn">
                        <a class="btn btn-default" type="button" ng-click="addFailedUnit()">Add</a>
                    </span>
                </div>
                <table ng-if="application.failedUnits.length > 0" class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Unit Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="unit in application.failedUnits">
                            <td>{{$index+1}}</td>
                            <td>{{unit}}</td>
                            <td><a class="btn btn-xs btn-danger pull-right" ng-click="removeFailedUnit(unit)">Remove</a></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label">Units you wish to tutor</label>
                <div isteven-multi-select max-height="150px" max-labels="3" input-model="unitSources" output-model="selectedUnits" button-label="name" item-label="name" tick-property="isSelected" class="input-group">
                </div>
            </fieldset>
            <availabilities-calendar events="events"></availabilities-calendar>
            <div>
                <button type=button ng-click="submitApplication()" class="btn pull-right btn-danger">Submit</button>
            </div>
        </form>
    </div>
</div>
