<div class="container-fluid">
    <br>
    <div class="col-sm-8 col-sm-offset-2">
        <div class=calendar ui-calendar="calendarOptions" ng-model="calendarSources" calendar="calendar"></div>
    </div>
</div>
