<div class=row>
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <label>Type Unit Name</label>
            <input typeahead-editable=false uib-typeahead="unit.unitName for unit in units | filter:$viewValue | limitTo:8" class="form-control" ng-model="typeAheadItem" type="text" typeahead-on-select="selectUnit($item)" placeholder="{{selectedUnit.unitName}}">
        </div>
    </div>
</div>
<br>
<div class=row>
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class=col-xs-12>
            <label>Select Group</label>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-primary col-xs-9">{{selectedGroup.groupName}}</button>
            <div class=col-xs-2>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="group in groups">
                            <a ng-click="selectGroup(group)">{{group.groupName}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-warning col-xs-12" ng-click="newGroup()">New Group</button>
        </div>
        <div class="col-xs-4">
            <button type="button" ng-click="deleteGroup()" class="btn btn-danger col-xs-12">Delete Group</button>
        </div>
    </div>
</div>
<br>
<div class=row>
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="col-sm-5 col-xs-6">
            <label>Group Name</label>
            <input type=text class="form-control" ng-model="selectedGroup.groupName" ng-model-options="{ debounce: 500}" ng-change="updateGroup()" />
        </div>
        <div class="col-sm-5 col-sm-offset-2 col-xs-6">
            <label>Class Type</label>
            <input typeahead-editable=false uib-typeahead="type for type in tutorialTypes | filter:$viewValue  | limitTo:8" type=text class="form-control" ng-model="selectedGroup.tutorialType" typeahead-on-select="updateGroup()" />
        </div>
    </div>
</div>
<br>
<div class=row>
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <table st-table="tableTutorials" st-safe-src="selectedGroup.tutorials" class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th class="unit-thead" st-sort="room">
                        Room <i class="glyphicon glyphicon-sort"></i>
                    </th>
                    <th class="unit-thead" st-sort="startTime" st-sort-default="true">
                        Start Time <i class="glyphicon glyphicon-sort"></i>
                    </th>
                    <th class="unit-thead" st-sort="endTime">
                        End Time <i class="glyphicon glyphicon-sort"></i>
                    </th>
                    <th class="unit-thead">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="1">
                        <button class="btn btn-sm btn-primary" ng-click="newTutorial()">New Tutorial</button>
                    </td>
                    <td colspan="1">
                        <button ng-show="!upload" type=file class="btn btn-sm btn-primary" ngf-select="uploadTutorialCSV($file)" accept=".csv" ngf-max-size="200MB">Upload Tutorial CSV</button>
                        <div ng-show="upload && !upload.result" class="progress progress-striped active">
                            <div class="progress-bar" style="width: {{upload.progress}}%" />
                        </div>
                        <div ng-show="upload && upload.result">Error: {{upload.result}}
                            <button class="btn btn-warning" ng-click="upload=null">Clear</button>
                        </div>
                    </td>
                    <td style="min-width:145px">
                    </td>
                </tr>
                <tr ng-repeat="tutorial in tableTutorials">
                    <td>
                        <input type="text" class="form-control input-sm" ng-model="tutorial.room" ng-model-options="{ debounce: 500}" ng-change="updateTutorial(tutorial)" />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" datetime-picker="dd MMM HH:mm" ng-model="tutorial.startTime" ng-model-options="{ debounce: 1500}" is-open="tutorial.startCalOpen" ng-click="tutorial.startCalOpen = !tutorial.startCalOpen" ng-change="updateTutorial(tutorial)" />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" datetime-picker="dd MMM HH:mm" ng-model="tutorial.endTime" ng-model-options="{ debounce: 1500}" is-open="tutorial.endCalOpen" ng-click="tutorial.endCalOpen = !tutorial.endCalOpen" ng-change="updateTutorial(tutorial)" />
                    </td>
                    <td>
                        <button type="button" ng-click="deleteTutorial(tutorial)" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
