<div class="row">
    <div class="col-xs-12 col-md-6">
        <label>Type Unit Name</label>
        <input typeahead-editable=false uib-typeahead="unit.unitName for unit in units | filter:$viewValue | limitTo:8" class="form-control" ng-model="typeAheadItem" type="text" typeahead-on-select="selectUnit($item)" placeholder="{{selectedUnit.unitName}}">
    </div>
    <div class="btn-group col-xs-12 col-md-6">
        <label>Select Group</label>
        <button class="btn btn-primary dropdown-toggle col-xs-12" data-toggle="dropdown">{{selectedGroup.groupName}} <span class="caret"></span></button>
        <ul class="dropdown-menu center-drop-box">
            <li ng-repeat="group in groups">
                <a ng-click="selectGroup(group)">{{group.groupName}}</a>
            </li>
        </ul>
    </div>
    <div class="drop-group-box col-xs-12" ng-drop=true ng-drop-success="assignGroup($data, selectedGroup.id)">
        Drop here to assign to all.
    </div>
</div>
<div class="row">
    <br>
    <div class="col-xs-12 col-md-8">
        <div class="calendar" ui-calendar="calendarOptions" ng-model="calendarSources" calendar="calendar"></div>
    </div>
    <br>
    <div>
        <h3>Tutor Applicants</h3></div>
    <div ng-repeat="tutor in tutors">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div ng-drag="true" ng-drag-data="tutor" draggable="false">
                <div class="panel" ng-style="tutor.color.style">
                    <div class="panel-heading">
                        <div ng-click="expandTutor(tutor)">{{tutor.name}} {{tutor.studentId}}</div>
                    </div>
                    <div class="panel-body" ng-show="tutor.expanded">
                        <div><span>{{tutor.course}}</span><span style="white-space:nowrap;" ng-show="tutor.year"> Year {{tutor.year}}</span></div>
                        <div ng-show="tutor.failedUnits.length > 0"><span>Failed Units</span>
                            <div class="failed-unit-tab" ng-repeat="failed in tutor.failedUnits track by $index">{{failed}}</div>
                        </div>
                        <div>{{tutor.email}}</div>
                        <div>{{tutor.mobile}}</div>
                        <div ng-if="tutor.assignedHours >= 0">Currently assigned {{tutor.assignedHours}} hour(s) per week</div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="($index+1) % 2 === 0" class="clearfix visible-sm-block"></div>
    </div>
</div>
