<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading col-xs-12">
                <div class="col-xs-12 col-sm-6">
                    <label>Type Unit Name</label>
                    <input typeahead-editable=false uib-typeahead="unit.unitName for unit in units | filter:$viewValue | limitTo:8" class="form-control" ng-model="typeAheadItem" type="text" typeahead-on-select="selectUnit($item)" placeholder="{{selectedUnit.unitName}}">
                </div>
            </div>
            <div class="panel-body">
                <div class="div-height-master col-xs-12">
                    <div class="div-height-slave col-xs-8"><strong><br>Unit Code:</strong> {{selectedUnit.unitCode}}
                        <br>
                        <br><strong>Coordinator:</strong>
                        <br>{{selectedUnit.unitCoordinator.name}} {{selectedUnit.unitCoordinator.staffId}}
                        <br>{{selectedUnit.unitCoordinator.email}}
                    </div>
                    <div ng-drop="true" ng-drop-success="deleteDrop($data)" class="delete-box col-xs-4 div-height-slave">Decline Application</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" ng-if="tutors.length === 0">
        <h2>No Tutor applicants</h2>
    </div>
    <div class="col-xs-12">
        <div ng-repeat="tutor in tutors">
            <div ng-drop="true" ng-drop-success="dropComplete($index, $data)" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div ng-drag="true" ng-drag-data="tutor" draggable="false">
                    <div ng-class="{ 'missing-priority': tutor.priority === 0, 'declined-priority': tutor.priority === -1 }" class="panel panel-primary">
                        <div class="panel-heading">
                            <div ng-click="expand(tutor)">{{tutor.name}} {{tutor.studentId}}</div>
                            <div>
                                <label for="priority-spinner">Priority:</label>
                                <input id="priority-spinner" min=0 max=20 ng-cancel-drag="true" type="number" ng-model="tutor.priority" ng-model-options="{ debounce: 500}" ng-change="updatePriority(tutor, {{tutor.priority}})">
                            </div>
                        </div>
                        <div class="panel-body" ng-show="expanded.indexOf(tutor) !== -1">
                            <div><span>{{tutor.course}}</span><span style="white-space:nowrap;"> Year {{tutor.year}}</span></div>
                            <div ng-show="tutor.failedUnits.length > 0"><span>Failed Units</span>
                                <div class="failed-unit-tab" ng-repeat="failed in tutor.failedUnits track by $index">{{failed}}</div>
                            </div>
                            <div>{{tutor.email}}</div>
                            <div>{{tutor.mobile}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="($index+1) % 2 === 0" class="clearfix visible-sm-block"></div>
            <div ng-if="($index+1) % 3 === 0" class="clearfix visible-md-block"></div>
            <div ng-if="($index+1) % 4 === 0" class="clearfix visible-lg-block"></div>
        </div>
    </div>
</div>
