<div class=row>
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <table st-table="tableUnits" st-safe-src="units" class="table table-hover">
            <thead>
                <tr>
                    <th class="unit-thead" st-sort="unitName" st-sort-default="true">
                        Unit Name <i class="glyphicon glyphicon-sort"></i>
                    </th>
                    <th class="unit-thead" st-sort="unitCode">
                        Unit Code <i class="glyphicon glyphicon-sort"></i>
                    </th>
                    <th class="unit-thead" st-sort="unitCoordinator.name">
                        Unit Coordinator <i class="glyphicon glyphicon-sort"></i>
                    </th>
                    <th class="unit-thead">Delete</th>
                </tr>
                <tr>
                    <th colspan="1">
                        <input st-search="" class="form-control" placeholder="search ..." type="text" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="1">
                        <button class="btn btn-sm btn-primary" ng-click="newUnit()">Create New Unit</button>
                    </td>
                    <td colspan="3">
                        <button ng-show="!upload" type=file class="btn btn-sm btn-primary" ngf-select="uploadUnitCSV($file)" accept=".csv" ngf-max-size="200MB">Upload Unit CSV</button>
                        <div ng-show="upload && !upload.result" class="progress progress-striped active">
                            <div class="progress-bar" style="width: {{upload.progress}}%" />
                        </div>
                        <div ng-show="upload && upload.result">Error: {{upload.result}}
                            <button class="btn btn-warning" ng-click="upload=null">Clear</button>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="unit in tableUnits">
                    <td class="col-xs-5">
                        <input class="form-control input-sm" type="text" ng-model="unit.unitName" ng-model-options="{ debounce: 500}" ng-change="updateUnit(unit)">
                    </td>
                    <td class="col-xs-2">
                        <input class="form-control input-sm" type="text" ng-model="unit.unitCode" ng-model-options="{ debounce: 500}" ng-change="updateUnit(unit)">
                    </td>
                    <td class="col-xs-4">
                        <input typeahead-editable=false uib-typeahead="coordinator.name for coordinator in coordinators | filter:$viewValue  | limitTo:8" class="form-control input-sm" ng-model="unit.unitCoordinator" type="text" typeahead-on-select="setCoordinator(unit.id, $item.id)">
                    </td>
                    <td class=" col-xs-1 ">
                        <button type="button " ng-click="deleteUnit(unit) " class="btn btn-sm btn-danger form-control ">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
