<div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="col-xs-1">Find User:</div>
        <div class="col-xs-6">
            <input typeahead-editable=false uib-typeahead="user.name for user in users | filter:$viewValue | limitTo:8" class="form-control" ng-model="typeAheadItem" type="text" typeahead-on-select="selectUser($item)" placeholder="Search for a user">
        </div>
        <div class="col-xs-5">
            <button ng-show="!creating" type=button class="btn btn-primary" ng-click="newUser()">Create New User</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h1 ng-show="!creating" class="text-center">Account: <span>{{selectedUser.username}}</span></h1>
        <form name="userDetailsForm" class="css-form">
            <fieldset ng-show="creating" class="form-group">
                <label for="selectedUser-username">Username</label>
                <input ng-minlength="7" required type="text" class="form-control" ng-model="selectedUser.username" id="selectedUser-username">
            </fieldset>
            <fieldset class="form-group">
                <label for="selectedUser-name">Name</label>
                <input required type="text" class="form-control" ng-model="selectedUser.name" id="selectedUser-name">
            </fieldset>
            <fieldset class="form-group">
                <label for="selectedUser-email">Email</label>
                <input required type="email" class="form-control" ng-model="selectedUser.email" id="selectedUser-email">
            </fieldset>
            <fieldset class="form-group">
                <label for="selectedUser-mobile">Mobile</label>
                <input required mobile type="text" class="form-control" ng-model="selectedUser.mobile" id="selectedUser-mobile">
            </fieldset>
            <fieldset ng-if="accountType==='TUTOR'" class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label for="selectedUser-studentId">Student Id</label>
                        <input required student-id type="text" class="form-control" ng-model="selectedUser.studentId" id="selectedUser-studentId" placeholder="Enter Student Id">
                    </div>
                    <div class="col-xs-6">
                        <label for="selectedUser-staffId">Staff Id</label>
                        <input type="text" class="form-control" ng-model="selectedUser.staffId" id="selectedUser-staffId" placeholder="Enter Staff Id">
                    </div>
                </div>
            </fieldset>
            <fieldset ng-if="accountType!=='TUTOR'" class="form-group">
                <label for="selectedUser-staffId">Staff Id</label>
                <input type="text" class="form-control" ng-model="selectedUser.staffId" id="selectedUser-staffId" placeholder="No Staff Id">
            </fieldset>
            <fieldset ng-show="creating" class="form-group">
                <label for="selectedUser-accountType">Account Type</label>
                <div class="radio">
                    <label>
                        <input ng-model="selectedUser.accountType" type="radio" name="optionsRadios" id="optionsRadios1" value="TUTOR"> Tutor
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input ng-model="selectedUser.accountType" type="radio" name="optionsRadios" id="optionsRadios2" value="COORDINATOR"> Unit Coordinator
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input ng-model="selectedUser.accountType" type="radio" name="optionsRadios" id="optionsRadios3" value="ADMIN"> Administrator
                    </label>
                </div>
            </fieldset>
            <br>
            <div><span ng-show="!creating">Password (Optional)</span>
                <fieldset class="form-group">
                    <div class="row">
                        <div ng-if="!creating" class="col-xs-6">
                            <label for="selectedUser-password">Password</label>
                            <input ng-minlength="7" type="password" class="form-control" ng-model="selectedUser.password" id="selectedUser-password" placeholder="Enter Password">
                        </div>
                        <div ng-if="creating" class="col-xs-6">
                            <label for="selectedUser-password">Password</label>
                            <input required ng-minlength="7" type="password" class="form-control" ng-model="selectedUser.password" id="selectedUser-password" placeholder="Enter Password">
                        </div>
                        <div class="col-xs-6">
                            <label for="selectedUser-password-repeat">Repeat Password</label>
                            <input type="password" class="form-control" ng-model="selectedUser.repeatPassword" id="selectedUser-password-repeat" placeholder="Repeat Password">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div>
                <div class="form-warnings" ng-messages="userDetailsForm.$error" ng-show="userDetailsForm.$submitted">
                    <span ng-message="mobile">Please enter a valid Australian mobile number.</span>
                    <span ng-message="minlength">Usernames and passwords must be at least 7 characters long.</span>
                    <span ng-message="required">Please fill in all the required fields.</span>
                </div>
            </div>
            <p class="text-danger" ng-show="userDetailsState.hasError">{{userDetailsState.error}}</p>
            <fieldset>
                <button ng-show="creating" type=submit ng-click="createUser(userDetailsForm)" class="btn pull-right btn-danger">Create</button>
                <button ng-show="!creating" type=submit ng-click="updateUser(userDetailsForm)" class="btn pull-right btn-danger">Update</button>
            </fieldset>
        </form>
    </div>
</div>
