.main-view {
    margin-top: 15px;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}

.footer {
    padding-top: 20px;
    color: #307070;
    border-top: 2px solid #c5c5c5;
    font-size: 16px;
    font-style: italic;
}

.btn {
    color: black;
    font-weight: bolder;
}

.btn-md {
    margin-left: 10px;
}

.disabled {
    color: white;
    font-weight: normal;
}

.home {
    align-content: center;
    font-size: 56px;
    padding-bottom: 20px;
}

.help-block {
    position: absolute;
    max-height: 100%;
}

[ng-drag].dragging {
    opacity: 0.5;
}

[ng-drop].drag-enter {
    border: solid 1px red;
}

.missing-priority {
    border: dashed 1px red;
}

.declined-priority {
    opacity: 0.5;
    background-color: rgba(150, 0, 0, 0.5);
}

.failed-unit-tab {
    padding-left: 3em;
}

.delete-box {
    background-color: rgba(150, 0, 0, 0.25);
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
}

.div-height-master {
    display: table;
}

.div-height-slave {
    float: none;
    display: table-cell;
}

.account-page-navigation {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.unit-thead {
    background-color: #666;
}

.unit-thead:hover {
    background-color: #BBB;
}

.unit-thead:active {
    background-color: #F99;
}

[ng-drop].drag-enter.calendarDropEnlarge {
    border: solid 10px;
}

.dropdown-menu.center-drop-box {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.drop-group-box {
    min-height: 115px;
    line-height: 115px;
    background-color: rgba(150, 0, 0, 0.25);
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    display: table;
}
