/* form styling */

.form-warnings {
    height: 1em;
    color: red;
}

#failed-units {
    position: relative;
    width: 575px;
    max-width: 100%;
}

#failed-units.list-units {
    display: block;
    width: auto;
    max-width: 100%;
}

#failed-units a {
    position: absolute;
    top: 20%;
    right: 5px;
    margin: 3px, 0;
    margin-top: 1px;
    margin-left: 20px;
}

#failed-units li {
    display: block;
    max-width: 100%;
    word-break: break-all;
}

#form-container {
    background: #2f2f2f;
    margin-bottom: 20px;
    border-radius: 5px;
}

#form-container .page-header {
    background: #151515;
    margin: 0;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* numbered buttons */

#status-buttons {}

#status-buttons a {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    text-transform: uppercase;
}

#status-buttons a:hover {
    text-decoration: underline;
}


/* we will style the span as the circled number */

#status-buttons span {
    background: #080808;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
}


/* active buttons turn light green-blue*/

#status-buttons a.active span {
    background: #94a8eb;
}


/*Disable highlighting of today in calendar */

.fc-unthemed .fc-today {
    background: none;
}
