<div class="container-fluid">
    <br>
    <div class="row col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <img class="img-responsive center-block" src="resource/login_icon.png">
        <h1 class="text-center">Timetabler Login</h1>
        <p class="text-center" ng-show="loginState.failed">{{loginState.error}}</p>
        <form ng-submit="login()" class="form-group form-horizontal">
            <div ng-class="{ 'has-error': loginState.failed }">
                <input type="text" class="form-control" placeholder="Username" ng-model="username"></input>
                </br>
                <input type="password" class="form-control" placeholder="Password" ng-model="password"></input>
                </br>
            </div>
            <button type="submit" class="btn btn-primary form-control">Login</button>
        </form>
        <button class="btn btn-primary form-control" page-link="/register">Register</button>
    </div>
</div>
